 body {
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;
margin: 0;
font-family: Arial, sans-serif;
background-color:rgba(200,100,150,0.2);
color:rgba(255,255,255,0.6);
}

header , footer {
    text-align: center;
    padding: 20px;
    background-color:#000000;
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 50px; ;
}

header {
    top: 0;
}

footer {
    margin-bottom: 0;
}

.circle {
 background: rgba(0,0,0,0.6);
 border: 5px solid rgba(200,100,50,0.7);
 width: 150px;
 height: 150px;
 border-radius: 50%;
 box-shadow: 0 5px 20px rgba(50,0,50,0.5);
 margin: 10px;
 padding: 20px;
 transition: border-color 2s ease;
 transition: background-color 1s ease;
 transition: box-shadow 1s ease;

}

.circle:hover {
    border-color: antiquewhite;
    background-color: aqua;
    box-shadow: 0px 10px 30px blueviolet;
}